<%- include('partials/header') %>

<div class="error-container">
    <h2>Oups!</h2>
    <img class="error-image" src="/img/404.jpg" alt="not found">
    <p class="error-paragraph">Désolés, nous n'avons pas trouvé la page que vous cherchez</p>
    <button type="button"><a href="/">Retour à l'accueil</a></button>
</div>

<%- include('partials/footer') %>