<%- include('partials/header') %>

<div class="confirmation-container">
    <h2>Merci!</h2>
    <p class="confirmation-paragraph">Nous avons bien reçu votre message et reviendrons vers vous le plus vite possible!</p>
    <button type="button"><a href="/portfolio">Retour au portfolio</a></button>
</div>

<%- include('partials/footer') %>