<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/logo.ico">
    <title>Ohana Studio</title>
</head>
<body>
    <header>
        <a href="/" class="logo">
            <h1>Ohana Studio</h1>
        </a>
        <nav role="navigation" aria-label="Menu principal">
            <button class="burger-menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="50px" height="50px"><path d="M 5 8 A 2.0002 2.0002 0 1 0 5 12 L 45 12 A 2.0002 2.0002 0 1 0 45 8 L 5 8 z M 5 23 A 2.0002 2.0002 0 1 0 5 27 L 45 27 A 2.0002 2.0002 0 1 0 45 23 L 5 23 z M 5 38 A 2.0002 2.0002 0 1 0 5 42 L 45 42 A 2.0002 2.0002 0 1 0 45 38 L 5 38 z"/></svg>
            </button>
            <ul class="navbar">
                <li class="nav-links"><a href="/">Accueil</a></li>
                <li class="nav-links"><a href="/catalogue">Portfolio</a></li>
                <li class="nav-links"><a href="/about">A propos</a></li>
            </ul>
        </nav>
    </header>

    <main>